@media (max-width:1160px) {
    .txt h3 {
        font-size: 25px;
    }

    .txt p {
        font-size: 14px;

    }

    .inner-contact .content .img2 {
        display: none;
    }



    .inner-contact .form-container {

        top: -20%;
        right: 2%;
    }
}

@media (max-width:992px) {

    /* header section */
    .logo {
        padding-left: 10px;
    }

    .menu-bar {
        padding-right: 10px;
    }

    .close-menu,
    .menu-bar {
        display: block;
    }

    .nav-menu {
        position: absolute;
        top: 0;
        left: -1000px;
        width: 100%;
        height: 100vh;
        background-color: rgba(45, 45, 45, .8);
        transition: 0.5s;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .show {
        left: 0;
    }

    .nav-menu>* {
        margin: 10px 0;
    }

    /* hero section */
    .inner-hero {

        height: 600px;
        padding-bottom: 0;
    }


    .inner-hero .left-side,
    .inner-hero .middle-side {
        width: 49%;
    }

    .right-side {
        display: none;
    }

    .relative {
        top: 0;
    }

    /* about section */

    .pos {
        display: none !important;
    }

    .inner-about {
        display: flex;
        flex-direction: column;
    }

    .inner-about .video {
        width: 100%;
    }

    .inner-about .dec {
        width: 100%;
    }

    /* services section */
    .inner-services {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 0 0;
    }

    /* about section */
    .inner-contact .form-container {

        margin: 20px auto;
        position: initial;

    }

}

@media (max-width:700px) {

    /* hero section */
    .inner-hero {
        width: 100%;
        margin: 20px auto;
        flex-direction: column;
        padding-top: 6rem;
        height: auto !important;

    }

    .inner-hero .left-side,
    .inner-hero .middle-side {
        width: 100%;
    }

    .middle-side h2 {
        font-size: 25px;
    }

    .middle-side p {
        font-size: 15px;
    }

    .middle-side button {
        margin-left: 25px;
    }

    .middle-side>* {
        width: 90%;
        margin: 0 auto;
    }

    /* services section */
    .inner-services {
        grid-template-columns: 1fr;
    }

    .dec h2 {
        font-size: 35px;
    }

    /* about section */

    .nbr {
        font-size: 25px;
    }

    .txt h3 {
        font-size: 1.2rem;
    }

    .txt p {
        font-size: .8rem;

    }

    /* review section */
    .inner-review .news {
        flex-direction: column;
    }

    .news .description {
        width: 100%;
    }

    .news .button-contain {
        margin-top: 30px;
        width: 100%;
    }

    .impression-container .item {
        width: 100%;
        padding: 20px;
    }

    /* footer */
    .item1,
    .inner-bottom .left {
        padding-left: 10px;
    }



}

@media (max-width:350px) {

    .inner-contact .form-container {
        width: 100%;


    }

    .txt h3 {
        font-size: 1rem;
    }

    .txt p {
        font-size: .6rem;

    }

    .inner-contact .content .txt {

        bottom: 60%;
        left: 10%;

    }
}