/* urls */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto&family=Work+Sans:wght@400;700&display=swap');


/* removed default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* common classes */
.border {
    border: 1px solid red;
}

.xl-container {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    font-family: "WorkSans";
    border: 1px solid grey;
    line-height: 1.2;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    width: 132px;
    height: 44px;
    z-index: 3;
    transition: 0.3s ease-in;
}

.btn:hover {
    color: rgb(67, 203, 131);
    border-color: #43cb83;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active {
    border-bottom: 1px solid #43cb83;

}

.active>a {
    color: #43cb83 !important;
}

/* header section */
.header-section {
    background-color: #fff;
    min-height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: inherit;
    z-index: 999;
}

.nav-menu li {
    padding: 5px 1rem;
}

.nav-menu li a {
    font-size: 1rem;
    transition: 0.3s ease;
    color: #333;
}

.nav-menu a:hover {
    color: #43cb83;

}

.nav-menu button {
    margin-left: 1rem;
}

.bg {
    background-color: green;
    height: 100px;
    width: 150px;
}

.menu-bar,
.close-menu {
    display: none;
}

/* home section */
#hero {
    overflow-x: hidden;
}

.inner-hero {
    margin-top: 10rem;
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: space-between;
}

.inner-hero>div {
    flex: 1;
}

.inner-hero .left-side>object,
.inner-hero .right-side>object {
    width: 100%;
}

.middle-side {
    z-index: 888;
    margin-top: 50px;
}

.middle-side h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #43cb83;
}

.middle-side p {
    margin-top: 20px;
    font-size: 1.1rem;
    font: 'work sans';
    color: #7d7878;
}

.middle-side .cta {
    margin-top: 20px;
    width: 150px;
    padding: 5px 10px;

}

.middle-side .cta:hover {
    background-color: #43cb83;
    color: #fff;
}

.right-side {
    margin-top: 80px;
    position: relative;
}

.circle {
    width: 100%;
    transform: scale(2);
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 777;
}

/* services section start */

.inner-services {

    padding: 60px 5px 0 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    top: -180px;
    z-index: 998;

}

.card {
    text-align: center;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 50px 70px;
}

.card img {
    width: auto;
    display: inline-block;
    margin-bottom: 3.5rem;
}

.card:first-child {
    background-color: #f1e3fc;
}

.card:nth-child(2) {
    background-color: #e3fcfa;
}

.card:nth-child(3) {
    background-color: #fcf0e3;
}

.card:nth-child(4) {
    background-color: #fceee3;
}

.card:nth-child(5) {
    background-color: #f3fce3;
}

.card:nth-child(6) {
    background-color: #e3f3fc;
}

.relative {
    position: relative;
   
}

.absolute {
    position: absolute;
}

/* about section */
.inner-about {
    top: -150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-about .video {
    width: 50%;
    padding: 10px;
    z-index: 9;


}

.inner-about .video img {
    display: inline-block;


}

.pos {
    left: -40%;
    transform: scale(1.6);
    z-index: -10;

}

.inner-about .dec {
    width: 50%;
    padding: 10px;
}

.dec h2 {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(67, 203, 131);
    font-weight: bold;
    line-height: 1.4;
}

.dec p {
    font-size: 18px;
    font-family: "WorkSans";
    color: rgb(90, 110, 121);
    line-height: 1.444;
}

.status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status span {
    font-family: Montserrat;
    display: block;
}

.nbr {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
}

.text {
    font-size: 18px;

}

.one {
    color: #ffba00;
}

.two {
    color: #ff5f72;
}

.three {
    color: #43cb83;
}

/* #TODO contact section */
.inner-contact {
    width: 100%;
    position: relative;
}

.inner-contact>.content {
    width: 100%;
    height: 350px;
    background-image: url("images/background-contact.jpg");
    position: relative;
    z-index: 100;

}

.inner-contact .content img {
    display: inline-block;
    width: auto;
}

.inner-contact .content .img1 {
    margin-top: 3%;
    margin-left: 2%;
}

.inner-contact .content .img2 {
    position: absolute;
    right: 1%;
    top: 5%;
}

.inner-contact .content .txt {
    position: relative;
    display: inline-block;
    vertical-align: center;
    bottom: 40%;
    left: 2%;

}

.inner-contact .content .red {
    color: #e74c3c;
}

.txt h3 {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(37, 44, 58);
    font-weight: bold;
    line-height: 2.25;
}

.txt p {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(37, 44, 58);
    text-transform: uppercase;
    line-height: 2.625;
}

.inner-contact .form-container {
    width: 400px;
    padding: 20px 45px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px #ccc;
    background-image: url("images/bg-shape.png");
    background-position: bottom 0 left -20%;
    background-repeat: no-repeat;
    background-size: 800px;
    background-color: #fff;
    color: #777;
    margin: 0 auto;
    position: absolute;
    top: -20%;
    left: 52%;
    z-index: 101;

}

form h2 {
    text-align: center;
    margin: 0 0 20px;
    letter-spacing: 6px;
}

.form-control {
    padding-bottom: 20px;
}


.form-control input {
    display: block;
    background: transparent;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #777;
}

.form-control input:focus {
    outline: none;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.action {
    padding: 10px 0;
}

.action .btn {
    background-color: rgb(67, 203, 131);
    box-shadow: 0px 9px 70px 0px rgba(227, 227, 233, 0.004);
    padding: 10px;
    color: #fff;
    border: none;
}

.action .btn:hover {
    color: #000;
}

.action .btn:hover {
    color: #7d7878;
}

.inline-block {
    display: inline-block;

}

.agree {
    padding: 0 10px;
}

.agree p {
    margin-left: 20px;
}

.form-container>a {
    display: inline-block;
    padding: 10px 0;
    text-decoration: underline;
    color: #7d7878;
}

.form-container>a:hover {
    color: #000;
}

/* review section */
.inner-review {
    padding: 50px 0;

}

.inner-review .news {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 60px 10px;
}

.news .description {
    width: 60%;
}


.description h2 {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(67, 203, 131);
    font-weight: bold;
    line-height: 1.4;
}

.description p {
    font-size: 16px;
    font-family: "WorkSans";
    color: rgb(90, 110, 121);
    line-height: 1.5;
    text-align: left;
}

.news .button {
    background-color: rgb(67, 203, 131);
    padding: 20px 50px;
    border-radius: 25px;
    color: #000;
}

.impression-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.impression-container .item {
    width: 50%;
    padding: 20px 0;
}

.impression-container .item h3 {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(37, 44, 58);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.date-des .date {
    margin-right: 20px;
}

.impression-container .item p {
    font-size: 16px;
    font-family: "WorkSans";
    color: rgb(90, 110, 121);
    line-height: 1.5;

}

.date-des {
    display: flex;
    justify-content: space-between;
}

.item .icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.icons span {
    margin-left: 10px;
}
/* footer section */
#footer-section{
    background-color: #000;
   
}
.inner-footer {
    
    padding: 60px 0;
}
.item1 img {
    width: auto;
    padding-bottom: 20px;
}
.icon-track i {
    text-align: center;
    display: inline-block;
    padding: 10px;
    transition: 0.3s;
}
/* .icon-track i:hover {
    border: 1px solid grey;
    border-radius: 15px;
} */
.item1  p{
    color: #fff;
}
.item1  i {
    color: #fff;
}
.icon-track {
    width: 100%;
}
.item1 h3 {
    color: #fff;
    padding-bottom: 20px;
}
.item1 a {
    display: block;
    color: #bbbbbb;
    transition: 0.3s;
}
.item1>a {
    padding: 10px 0;
}
.item1 a:hover {
    color: #fff;
}
.item1 a span {
    font-size: 14px;
    color: #7d7878;
    font-weight: 200;
}
.space {
    margin-top: 20px;
    width: 260px;
}
.space input {
    width: 170px;
    float: left;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
}
.space a {
    color: #fff;
    width: 90px;
    float: left;
    line-height: 40px;
    padding-left: 10px;
    background-color: #2ecc71;
    border: none;
    
}
.inner-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   

}
.inner-footer .item1 {
    width: 270px;
   
}
#footer-bottom {
    background-color: #333;
}
.inner-bottom {
    display: flex;
    justify-content: space-between;
}
.inner-bottom a{
    color: #bbbbbb;
    transition: 0.3s;
}
.inner-bottom a:hover{
    color: #fff;
}
.right > a{
    display: inline-block;
    padding: 0 5px;
}